# OS X
.DS_Store


#deploy
dep/
exclude.list
config.ini
deploy.py

# Lib
ios/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.xcscmblueprint
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
ObjcUML/
.idea/
Reveal.framework/
demo.session
demo.timing


# Bundler
.bundle

Carthage

#Dingdone
Dingdone/Podfile
Podfile.lock
Pods/
ConfigureFiles/
DebugConfigs/
!Dingdone/DDApp/Resources/DDFont/
Dingdone/DDApp/Resources/ConfigureFiles/*.plist
Dingdone/DDApp/Resources/ConfigureFiles/
Dingdone/DDApp/DebugConfigs/_debugGuid
Debug-iphoneos/
TemplateTest/
DDTemplateProj/
#Dingdone/DDApp/DDApp-Info.plist
DDExternalModule/
DDOpenSDK/
DDOpenSDKDemo/


*.tmp.podspec
pickle_file.pkl
DingdoneManager/
model_*.html
!model_local.html
module_*.html
newspage_*.html

_debugGuid
